YC="202X"
YEAR_CURRENT="202X"
YEAR_CURRENT_SHORT="2X"
YEAR_PREVIOUS="202X-1"
YEAR_PREVIOUS_SHORT="2X-1"
INSTITUTE="..."
PROFILE="..."
DEPARTAMENT="..."
DEPARTAMENT_SHORT="..."
DEPARTAMENT_HEAD="к.т.н., доцент ..."
STREAM="..."
DISCIPLINE="..."
TOPIC="Учебно-демонстрационная программа, использующая сведения из базы данных для заполнения документов в плейсхолдерах, в соответствующих падежах, лицах и временах"
GROUP="..."
AUTHOR="..."
AUTHOR_SHORT="..."
AUTHOR_TICKET_NUMBER="..."
SUPERVISOR="..."
SUPERVISOR_FULL="ассистент ..."
SUPERVISOR_SHORT="асс. ..."
COMISSION_MEMBER_1="к.т.н., доцент ..."
COMISSION_MEMBER_2="ст. препод ..."
COMISSION_MEMBER_3="ассистент ..."
CITY="Город"

# Formats
AVAILABLE_FORMATS="Markdown (.md), DOCX (.docx)"
AVAILABLE_FORMATS_SHORT="MD, DOCX и др."
FORMAT_DOCX="DOCX (.docx)"
FORMAT_MARKDOWN="Markdown (.md)"

# Application
APP_NAME="markforge"
APP_NAME_MEANING_FROM="слов mark (пометка) и forge (кузница), что символизирует процесс создания документов из шаблонов и данных, подобно тому, как кузнец выливает по готовой форме нужные изделия"
